<section>
  <h1>Bunlong</h1>
  <ul>
    <li style="height: 100px; font-size: 13px;">
      <img src="/images/about.jpg" width="85" height="85" class="left" />
      Full Stack Software Engineer - Javascripter, PHPer, Rubyist, Erlang... <br/>
      <hr/>
      <a href="https://github.com/Bunlong" target="_blank" style="outline: none;">
        <img src="/images/github.png" width="20" style="border: none; box-shadow: none; margin-top: 5px;" alt="Github" />
      </a>
      <a href="https://twitter.com/intent/follow?original_referer=http%3A%2F%2Frebuild.fm%2F53%2F&region=follow_link&screen_name=bunlongvan&tw_p=followbutton&variant=2.0"  style="outline: none;">
        <img src="/images/twitter.png" width="20" style="border: none; box-shadow: none; margin-top: 5px;" alt="Twitter" />
      </a>
    </li>
  </ul>
</section>