<section>
  <h1>References</h1>
  <ul id="recent_posts">
    <li>
      <a href="http://www.erlang.org/" target="_blank">
        <img src="/images/logo_erlang.png" />
      </a>
    </li>
    <li>
      <a href="http://www.chicagoboss.org/" target="_blank">
        <img src="/images/logo_chicagoboss.svg" />
      </a>
    </li>
    <li>
      <a href="https://www.ruby-lang.org/en/" target="_blank">
        <img src="/images/logo_ruby.png" />
      </a>
    </li>
    <li>
      <a href="http://guides.rubyonrails.org" target="_blank">
        <img src="/images/logo_rails_guides.png" />
      </a>
    </li>
    <li>
      <a href="http://railscasts.com" target="_blank">
        <img src="/images/logo_rails_casts.png" />
      </a>
    </li>
    <li>
      <a href="https://github.com" target="_blank">
        <img src="/images/logo_github.png" />
      </a>
    </li>
    <li>
      <a href="https://www.linode.com" target="_blank">
        <img src="/images/logo_linode.png" />
      </a>
    </li>
    <li>
      <a href="http://newrelic.com" target="_blank">
        <img src="/images/logo_newrelic.png" />
      </a>
    </li>
    <li>
      <a href="https://developers.facebook.com/" target="_blank">
        <img src="/images/logo_facebook.png" />
      </a>
    </li>
    <li>
      <a href="https://facebook.github.io/react/" target="_blank">
        <img src="/images/logo_react.png" />
      </a>
    </li>
  </ul>
</section>