<section>
  <h1>Resources</h1>
  <ul id="recent_posts">
    <li>
      <a href="https://github.com" target="_blank">
        <img src="/images/logo_github.png" />
      </a>
    </li>
    <li>
      <a href="https://www.linode.com" target="_blank">
        <img src="/images/logo_linode.png" />
      </a>
    </li>
    <li>
      <a href="http://newrelic.com" target="_blank">
        <img src="/images/logo_newrelic.png" />
      </a>
    </li>
    <li>
      <a href="http://www.codeschool.com" target="_blank">
        <img src="/images/logo_codeschool.png" />
      </a>
    </li>
    <li>
      <a href="http://oreilly.com" target="_blank">
        <img src="/images/logo_oreilly.png" />
      </a>
    </li>
    <li>
      <a href="http://pragprog.com" target="_blank">
        <img src="/images/logo_pragmaticbookshelf.png" />
      </a>
    </li>
  </ul>
</section>