h1 {
    font-size: 1.2em;
    line-height: 1.2em;
}

.logo {
  background-image: url("/images/logo_geekhmer.png");
  height: 110px;
  overflow: hidden;
  width: 160px;
}

html {
  background: none;
}

body > header {
  background: none;
}

body > nav {
  background: none;
  border-bottom: 1px solid #F2F2F2;
}

body > div {
  background: none;
  border-bottom: none;
}

body > div > div {
  background: none;
  // border-right: 1px solid #E0E0E0;
}

body > footer {
  background: none;
}

.toggle-sidebar:after {
  background: none;
}

body > nav form .search {
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #555555;
  display: block;
  font-size: 14px;
  height: 28px;
  line-height: 1.42857;
}

body > nav fieldset.mobile-nav select {
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #555555;
  display: block;
  font-size: 14px;
  height: 34px;
  line-height: 1.42857;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  vertical-align: middle;
}

.collapse-sidebar aside.sidebar {
  background-color: #FAFAFA;
}

aside.sidebar a {
  white-space: nowrap;
}